body {
    display: flex;
    margin: 0;
    background-color: #1b1b1b;
    color: rgb(225, 225, 225);
}

.qualifications img {
    max-width: 100%;
}

.profile-pic {
    background-color: #000;
    border: 6px inset #6a737d;
    border-radius: 8px;
    width: 300px;

}

.banner {
    background-image: url('/images/background.jpg');
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10.5rem 4.875rem;
    color: white;
}

.banner h1 {
    font-size: 100px;
    text-shadow: 4px 3px 4px black;
}

.banner p {
    font-size: 60px;
    text-shadow: 4px 3px 4px black;
}

header {
    background-color: slategray;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */

}

header a {
    color: white;
}

header nav {
    position: sticky;
    top: 10px;
}

.about-me {
    color: white;
    border: 5px solid;
    padding: 10px;
}



.qualifications-pics {

    display: flex;
    border: 10px solid yellow;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.qualifications-pics li {
    flex: 1 1 50%;
}

#portfolio {
    border: 5px solid whitesmoke;
}

.icons img {
    width: 80px;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: dodgerblue;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.stay-connected {
    background-color: dodgerblue;
}

#contact-info {
    color: black;
    text-align: center;
    border: 10px solid whitesmoke;
}

h2 {

    font-size: 3rem;
}

.projects {
    display: flex;
}

.projects article {

    flex: 1 1 50%;
}