header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(232, 147, 232);
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 3;
  align-items: center;
}

.flex-container {

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing:border-box;
  padding: 30px;
  background-color: rgb(232, 147, 232);
  transition: transform .2s;
  height: 50px;
  margin: 10px;
  width: 900px;
  font-family: 'Times New Roman', Times, serif;
}

.flex-container:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.5);
}

.flex-container ul {
  display: flex;
  list-style-type: none;
}

.flex-container li {
  
  font-size: larger;
  list-style-type:none;
  white-space:normal;
  display:block;
	width:100px;
	float:right;
	margin:2px;
	border:#fff;


}
#flex-container a {
  float:left;
	display:flex;
	padding:2px;
	text-decoration:none;
	background-color:#fff;
	color:rgba(3, 3, 3, 0.457);
}

body {
  background-image: url("./images/background.jpg");

}

h2 {
  font-size: large;
}

.contact-info {
  border-style: square;
  background-color: none;
  border: solid black 1px;
  height: 100px;
  inline-size: 200px;
}

.about {
  height: 200px;
  background-color:none;
}

.education {
  position: relative;
  width: 80%;
  aspect-ratio: 3/1;
  margin: auto;
  border: solid black 2px;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.blue {
  background-color: lightblue;
  width: 95%;
  aspect-ratio: 3/1;
}

.green {
  background-color: lightgreen;
  width: 80%;
  aspect-ratio: 4/1;
}

.blue,
.green {
  margin: 2px;
  scroll-snap-align: end;
  scroll-margin-bottom: 20px;
}

.about{
  display: inline-block;
  vertical-align: middle;
  height: auto;

}


.intro{
  font-size: 30px;
  width: 50%;
  text-align:center;
  box-sizing: border-box;
  margin: 20px auto;
  padding-bottom: 70px;
  font-size: medium;
  color: rgb(218, 218, 20);
  box-shadow: #fff;
  line-height: 30px;

}

#keynote{
  text-align: center;

}

#keynote img{
  width:600px;
  height: 600px;
  border-radius: 50px;
  opacity: 0.7;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


#myLink{
  color: rgb(218, 218, 20);
border-style:double;
border-color: black;
}

