header{
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
}
.line-container{
    display:flex;
    list-style-type:none;
}

.line-container li a{
    text-decoration: none;
}
body{
    background-image: url("./images/background.jpg");

}