header {
    display: flex;
    justify-content:space-between;
    background-color:lavenderblush;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 3;
    align-items: center;
}

.flex-container {
    display: flex;   
    float: right;
    justify-content: space-between;
    align-items: center;
}

.flex-container ul li{
    list-style-type: none;
}

body {
    background-image: url("./images/background.jpg");

}
h2{
    font-size: large;
    fl
}